@typeparam TItem
@using System.Diagnostics.CodeAnalysis;

<style>
    .outstanding {
        background-color: #b32121;
    }
</style>

<table class="table">
    <thead>
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            backgroundColorClass = item.Item2 ? "standart" : "outstanding";
            if (RowTemplate is not null)
            {
                <tr class=@backgroundColorClass>@RowTemplate(item.Item1)</tr>
            }
        }
    </tbody>
</table>

@code {
    private string? backgroundColorClass;

    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter, AllowNull]
    public IReadOnlyList<(TItem, bool)> Items { get; set; }
}
